[core]
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 --RAW-CONTROL-CHARS --quit-if-one-screen
[user]
  name = Lyn Levenick
  email = 346549+lynlevenick@users.noreply.github.com
[github]
  user = lynlevenick
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
